/reduced_test_images/*.jpg
/reduced_train_images/*.jpg
/reduced_train_masks/*.jpg
/reduced_test_images_2/*.jpg
/reduced_train_images_2/*.jpg
/reduced_train_masks_2/*.jpg
/train_images/*.jpg
/test_images/*.jpg
train.csv
__pycache__/
*.hdf5
*.jpg
*.h5
ResNet152V2_loss_4.png
*.csv
*.png
